* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #c2eff6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.row {
  margin: 1rem 0;
}